{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Biografía</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam voluptatibus dolorum magni voluptatem perferendis. Odit culpa, in provident optio quos reprehenderit earum quia omnis quibusdam illo, consequuntur eligendi sit quis.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/bio.jpg" alt="Mi_bio" class="img-thumbnail">
        </div>
    </div>

{{> footer }}